.mat-brand {
    width: 85px;
    height: auto;
}

.mat-mainimages {
    width: 250px;
}

.border-mat {
    border-color: #9BB7DF !important;
    border-width: 1px;
}

.mat-bg {
    background-color: #9BB7DF !important;
    border-color: #9BB7DF !important;
    color: white;
}

.mat-bg:hover {
    background-color: #6e87ab !important;
}

.mat-outline-btn {
    background-color: transparent!important;
    border-color: #9BB7DF !important;
    border-width: 2px;
    color: #9BB7DF;
    font-weight: bold;
}

.mat-outline-btn:hover {
    background-color: #9BB7DF !important;
    border-color: #9BB7DF !important;
    color: white;
    font-weight: bold;
}

.mat-btn {
    background-color: #9BB7DF!important;
    border-color: #9BB7DF !important;
    border-width: 2px;
    color: white;
    font-weight: bold;
}

.mat-btn:hover {
    background-color: #9BB7DF!important;
    border-color: #566da0 !important;
    border-width: 2px;
    color: white;
    font-weight: bold;
}
.shelf {
    background: url('/img/shelf4.png') center 30px/100% 100% no-repeat scroll;
}

.mat-book {
    background: blue;
    color: white;
    height: 150px;
}

.books-button {
    background-color: transparent;
    border-color: transparent;
}
.modal-dialog.mat {
    max-width: 800px;
}

.fa {
    font-size: 1.5em;
    color: #888c93;
}

.modal-body p {
    color: #888c93;
}

.mat-modal {
    background: #EDEFF0;
}

.hidden {
    display: none;
}

.mat-submit {
    position: absolute;
    bottom: -56px;
    right: 100px;
}

.mat-star {
    color: #9BB7DF;
}

.mat-text {
    font-size: 1.5em;
}

.mat-pointer {
    cursor: pointer;
}